:root {
    --PrimaryColor:#5271FF;
    --BackColor:#292929;
}

@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&amp;display=swap");

body {
  font-family: "Jost", sans-serif;
}

.sidePanel {
  .profileImageContainer{
    background-color: var(--PrimaryColor);
  }
}

#letsWorkTogether {
  background-image:url(../assets/bg.png);
}